  {% extends 'base.html' %} 
    {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT-US</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e35016a61.js" crossorigin="anonymous"></script>
    <style>
        .poppins-font {
            font-family: "Poppins", sans-serif;

        }
    </style>
</head>

<body class="poppins-font">
    <section class="container mx-auto my-10">
        <div class="flex items-center gap-20">
            <div class="flex gap-5">
                <div>
                    <img src="/static/images/aboutus.jpg" alt="">
                </div>
                <div class="mt-20">
                    <img class="rounded-xl" src="/static/images/aboutus2.jpg" alt="">
                </div>
            </div>
            <div>
                <p class="text-blue-600 font-medium uppercase">Who we are</p>
                <h1 class="text-5xl font-medium py-5">Highly Tailored IT Design, <br> Management & <br> Support Services.</h1>
                <p class="text-sm text-gray-500 py-3 ">Accelerate innovation with world-class tech teams We’ll match you
                    to
                    an entire <br> remote team of incredible freelance talent for all <br>your software development
                    needs.</p>
                <div class="flex items-center gap-10 my-5">
                    <div>
                        <h5 class="font-semibold text-xl">Our Mission</h5>
                        <p class="text-sm text-gray-500 py-3 ">Accelerate innovation with <br> world-class tech teams. <br>
                            We
                            help businesses
                            elevate their value.</p>
                    </div>
                    <div>
                        <h5 class="font-semibold text-xl ">Our Philosophy</h5>
                        <p class="text-sm text-gray-500 py-3 ">Accelerate innovation with <br> world-class tech teams. <br>
                            We
                            help businesses
                            elevate their value.</p>
                    </div>
                    
                </div>


            </div>
        </div>

    </section>


</body>

</html>
{% endblock %}