{% extends 'base.html' %} 
 {% block content %}

    <section class="container mx-auto">
        <h1 class="text-5xl font-medium text-center my-10">Frequently asked questions  <span class="uppercase">(FAQ)</span></h1>
        <div class="flex gap-10">
            <div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" checked="checked" />
                    <div class="collapse-title text-xl font-medium">How do I install the theme?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-medium border border-b">Support & Policy rules?</div>
                    <div class="collapse-content">
                        <p class="py-4" >To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-border border-b">Can i use this theme as a child theme?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-border border-b">Support & Policy rules?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" checked="checked" />
                    <div class="collapse-title text-xl font-medium border border-b">How do I install the theme?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-border border-b">Support & Policy rules?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-border border-b">Can i use this theme as a child theme?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200 my-5">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-medium border border-b">Support & Policy rules?</div>
                    <div class="collapse-content">
                        <p class="py-4">To install a WordPress theme, go to your WordPress dashboard, navigate to Appearance >
                            Themes, and
                            click on "Add New." You can either search for a theme in the WordPress repository or upload
                            a theme
                            file you've downloaded by clicking on "Upload Theme" and then "Install Now." Once installed,
                            click
                            "Activate" to use the theme.</p>
                    </div>
                </div>
            </div>
        </div>



    </section>
</body>

</html>
    {% endblock %}