<!-- footer -->
<section>
 <footer class="footer bg-slate-900 text-white p-10">
    <div>
      <h1 class="font-bold text-3xl">Trip Satisfy</h1>
      <p class="py-5 text-sm text-pink-50">Accelerate innovation with world-class <br>tech teams We’ll match you to an entire <br>remote team of
        incredible <br>freelance talent.</p>
        <div class="grid grid-flow-col gap-4 text-lg">
          <a class="bg-white h-10 w-10 rounded-full text-center pt-2">
            <i class="fa-brands fa-facebook-f text-blue-600"></i>
          </a>
          <a class="bg-white h-10 w-10 rounded-full text-center pt-2">
            <i class="fa-brands fa-square-instagram text-blue-600"></i>
          </a>
          <a class="bg-white h-10 w-10 rounded-full text-center pt-2">
            <i class="fa-brands fa-twitter text-blue-600"></i>
          </a>
          <a class="bg-white h-10 w-10 rounded-full text-center pt-2">
            <i class="fa-brands fa-linkedin-in text-blue-600"></i>
          </a>
        </div>
    </div>
    <nav>
      <h6 class="footer-title">Useful Links</h6>
      <a class="link  link-hover ">Home</a>
      <a class="link link-hover">About Company</a>
      <a class="link link-hover">Our Services</a>
      <a class="link link-hover">Why Choose Us</a>
      <a class="link link-hover">Contact Us</a>
    </nav>
    <nav>
      <h6 class="footer-title"> Our Services</h6>
      <a class="link link-hover">Infrastructure Technology</a>
      <a class="link link-hover">Blockchain technology</a>
      <a class="link link-hover">Advanced Technology</a>   
      <a class="link link-hover">Data Management</a>
      <a class="link link-hover">Security Management</a>
    </nav>

    <nav>
      <h6 class="footer-title">Contact Information</h6>
      <a class="link link-hover"> <i class="fa-regular fa-address-book text-blue-600 text-lg px-2"> </i>  89898989</a>
      <a class="link link-hover"> <i class="fa-solid fa-envelope text-blue-600 text-lg px-2"> </i>  z.email.com</a>
      <a class="link link-hover"> <i class="fa-solid fa-location-dot text-blue-600 text-lg px-2"> </i>east-rajanazar-345</a>
      
    </nav>
  </footer>
  <footer class="footer footer-center bg-slate-900 text-white py-7 border-t border-gray-700">
    <aside >
      <p>Copyright©2025 -All right reserved by trip-satisfy</p>
    </aside>
  </footer>
</section>
    <style>
        .poppins-font {
            font-family: 'Poppins', sans-serif;
        }
        
        @keyframes slide-slow {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }
        
        .animate-slide-slow {
            animation: slide-slow 60s linear infinite;
        }
        
        .hover\:animation-pause:hover {
            animation-play-state: paused;
        }
        
        @media (max-width: 640px) {
            .animate-slide-slow {
                animation: slide-slow 40ms linear infinite;
            }
        }
    </style>
</body>
</html>