 {% load static %}

    <!-- Navigation Section -->
    <header class="sticky top-0 z-50 bg-white shadow-sm sans-serif">
        <nav class=" container mx-auto flex items-center justify-between px-10 py-2">
              <div class="text-blue-700">
                    <i class="fa-solid fa-user-secret text-2xl md:text-4xl"></i>
                </div>
            <div class="hidden md:flex gap-8 lg:gap-10 list-none uppercase text-gray-500 text-sm font-semibold">
                <li><a href="/" class="hover:text-blue-600 transition">home</a></li>
                <li><a href="/aboutus" class="hover:text-blue-600 transition">about-us</a></li>
                <li><a href="/services" class="hover:text-blue-600 transition">services</a></li>
                <li><a href="/casestudies" class="hover:text-blue-600 transition">case-studies</a></li>
                <li><a href="/portfolio" class="hover:text-blue-600 transition">portfolio</a></li>
                <li><a href="/blog" class="hover:text-blue-600 transition">blog</a></li>
            </div>
           <div>
  <a href="/contact"
     class="px-3 py-3 md:px-10 text-lg  text-white bg-blue-600 hover:bg-blue-700 transition rounded-lg inline-block">
    Contact Us
  </a>
</div>

        </nav>

    </header>

