      {% extends 'base.html' %} 
      {% load static %}
    {% block content %}

<!-- why chhose us -->
<section class=" my-10 container mx-auto">
    <p class="text-blue-600 text-center uppercase text-sm">REASON TO CHOOSE US</p>
    <h1 class="text-5xl font-medium text-center my-10">We provide truly prominent IT  <br>solutions.</h1>
    <div class="grid grid-cols-3 gap-10 hover:cursor-pointer">
        <div class="card bg-base-100 w-96 shadow-xl ">
            <figure>
             <img src="/static/images/chooseus.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Infrastructure <br>Technology</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl ">
            <figure>
             <img src="/static/images/c-2.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">IT Consultancy & <br>solution</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl ">
            <figure>
             <img src="/static/images/c3.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Cloud managed <br> services</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl ">
            <figure>
             <img src="/static/images/c4.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Blockchain <br> technology</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
             <img src="/static/images/c5.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Advanced Technology</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
             <img src="/static/images/c6.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Ideas for high <br> return investment</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
             <img src="/static/images/c7.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Fully high IT <br> Managment</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>
          <div class="card bg-base-100 shadow-xl">
            <figure>
             <img src="/static/images/c8.png" alt="">
            </figure>
            <div class="card-body">
              <h2 class="card-title">Fully high <br>IT Managment</h2>
              <p>Accelerate innovation with world-class tech teams We’ll match you to an entire.</p>
              <div class="card-actions justify-end">
               
              </div>
            </div>
          </div>

    </div>
</section>
    {% endblock %}